.main__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 60px;
    padding: 0 25px 0 25px;
}

.header__logo {
    width: 140px;
    height: 40px;
    background-color: #0ABAB5;
    cursor: pointer;
}

.header__buttons {
    display: flex;
    gap: 28px;
}

.header__button1 {
    font-family: 'Pretendard Variable';
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    border: none;;
    background-color: transparent;
    cursor: pointer;
}

.header__loginbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 0 6px 0;
    gap: 6px;
    cursor: pointer;
}

.header__loginlogo {
    width: 25px;
    height: 24px;
    -webkit-mask: url("../../assets/pic/login-button.svg") no-repeat center / contain;
    mask: url("../../assets/pic/login-button.svg") no-repeat center / contain;
    background-color: #6E6E6E;
}

.header__button2 {
    font-family: 'Pretendard Variable';
    font-size: 14px;
    font-weight: 400;
    color: #6E6E6E;
    border: none;
    background-color: transparent;
    padding: 0 0 0 0;
    cursor: pointer;
}

.header__loginbox:hover .header__button2 {
    text-decoration: underline;
}

.isActive {
    font-weight: 700;
    color: #1B818C;
}

.isLoginUnderline {
    text-decoration: underline;
}