.main__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 60px;
    padding: 0 25px 0 25px;
}

.header__logo {
    width: 140px;
    height: 40px;
    background-color: #0ABAB5;
}

.header__buttons {
    display: flex;
    gap: 12px;
}

.header__button1 {
    font-family: 'Pretendard Variable';
    font-size: 14px;
    font-weight: 400;
    padding: 8px 14px 8px 14px;
    border: none;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.header__loginbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 0 6px 0;
    gap: 6px;
    cursor: pointer;
}

.header__loginlogo {
    width: 25px;
    height: 24px;
    background-image: url("../../assets/pic/login-button.svg");
    background-repeat: no-repeat;
}

.header__button2 {
    font-family: 'Pretendard Variable';
    font-size: 14px;
    font-weight: 400;
    border: none;
    background-color: transparent;
    padding: 0 0 0 0;
    cursor: pointer;
}

.header__loginbox:hover .header__button2 {
    text-decoration: underline;
}
