.footer {
    width: 100%;
    max-width: 1920px;
    min-height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-top: 1px solid #ccc;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.05);
}

.footerNavList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
}

.footerNavLink {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 14px;
}

.footerNavLink:hover {
    text-decoration: underline;
}
